#main-banner-form{
    width: 1920px;
    height: 800px;
}
.main-banner-info{
    width: 529.688px;
    height: 329.234px;
    margin: 70px;
    padding: 16px;
    position:absolute;
    top: 180px;
    left: 640px;
}


.catch{
    width: 529.688px; 
    line-height: 48px;
    padding: 5px;
    text-align: center; 
    color:white; 
    text-shadow: 0px 10px 10px black;
}
.box-container{
    width: 529.688px;
    height: 70.438px;
    margin: 21.333px 0px 21.333px;
    text-align: center;
}
.button{
    color:white; 
    width: 174.375px;
    line-height: 59.781px;
}

* {margin:0;padding:0;box-sizing:content-box;}
        ul, li {list-style:none;}

        .slidebox {max-width:1920px; margin:0; position:relative;}
        .slidebox .slidelist {position:relative;white-space:nowrap;font-size:0;overflow:hidden;}
        .slidebox .slidelist .slideitem {position:relative;display:inline-block;vertical-align:middle;background-color:#fff;width:100%;transition:all 1s;}
        .slidebox .slidelist .slideitem > a {display:block;width:auto;position:relative;}
        .slidebox .slidelist .slideitem > a img {max-width:100%;}

        [name="slide"] {display:none;}
        #slide01:checked ~ .slidelist .slideitem {left:0;}
        #slide02:checked ~ .slidelist .slideitem {left:-100%;}
        #slide03:checked ~ .slidelist .slideitem {left:-200%;}

        .slide-control [class*="control"] {display:none;}
        #slide01:checked ~ .slide-control .control01 {display:block;}
        #slide02:checked ~ .slide-control .control02 {display:block;}
        #slide03:checked ~ .slide-control .control03 {display:block;}