#topMenu{
    font-family: "DIN-Next-LT-Pro-Regular";
    width: 1856px;
    height: 53px;
    padding: 8px 32px;
    z-index: 10;
}
.menu-bar1{
    width: 700px;
    height: 43px;
    padding: 0px 50px;
    float: left;
}
.bar-width{
    width: 1200px;
}
.inner-menu{
    background-color: rgba(0, 0, 0, 0.9);
}

#navi{
    margin: 0;
    list-style-type: none;
    padding: 0;
    height: 69;
}

#navi>li{
    float : left;
    width : 15%; 
    height: 100%;
    text-align : left;
}

#navi a{
    text-decoration: none;
    color : white;
    font-size: 19px;
    font-weight:600;
    
    width : 100%;
    height: 100%;
    display:block;
    line-height : 50px;
}

#navi a:hover {
    text-shadow: 0px 0px 10px grey;
}

#navi>li>ul {
    list-style-type:none;
    padding: 0;
    display:none;
    
}

#navi>li>ul a{font-size :18px; color:blue; text-align: left;}
#navi>li>a:hover+ul{
    display:block;
    width:254.97px;
    padding: 16px;
    
}
#navi>li>ul:hover{
    display:block;
    width:254.97px;
    padding: 16px;

}