#introduce{
    font-size: 72px;
}
#inside{
    font-size: 21px;
    width: 424.406px;
    height: 126px;
    padding: 15.750px 63px;
}

.ourCompany-contents{
    width: 1376px;
    height: 635.312px; 
    padding: 0 32px;
    margin: 0 231.5px;
}

.ourCompany-intro{
    width: 550.406px;
    height: 243.5px;
    margin: 0 0 42px;
    padding: 0 68.7969px;
    position: relative;
    top: -200px;
}

.ourCompany-Games{
    width: 661px;
    height: 635.312;
}

.line {
    width: 42px;
    height: 3px;
    background-color: #000000;
    position: relative;
    top: 116px;
}