

.ourGames-form-container{
    width: 1216px;
    height: 450.297px;
    padding: 32px 32px 32px 32px;
}
.ourGames-form-contain-block{
    width: 186.875px;
    height: 323.453px;
    background-position: center;
    background-size: cover;
}

#ourGames-logo{
    text-align: center;
    position: absolute;
    top: 320px;
}